# ignore the folder .botenv
.botenv/

# ignore content of the folder db but not the folder itself
/db/*
!/db/

# ignore the file .env
.env

# ignore ./log contents but not the directory itself
/logs/*
!/logs/


# ignore the folder "test"
test/

.DS_Store
__pycache__/
*.pyc

